.lateral-fade-section {
    opacity: 0;
    transform: translateX(20vw);
    visibility: hidden;
    transition: opacity 0.7s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.lateral-fade-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}
