.App {
}

.nav-bar {
    display: flex;
}

.intro {
    margin: 5%;
    min-height: 90vh;
}

.illustration-1 {
    margin-top: 10%;
}

.projects-section {
    background-color: lightgray;

    min-height: 100vh;
}
.education-section {
    min-height: 100vh;
}

h2 {
    margin-left: 5%;
    font-size: 48px;
}

p {
    line-height: 1.5em;
    font-size: 20px;
}
