.App {
    background-image: url("./background/gradient.jpeg");
    background-size: cover;
}

.nav-bar {
    display: flex;
    max-height: 70px;
}

.intro-section {
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100vh;
}

.projects-section {
    padding: 30px;
    opacity: 0;
    background-color:rgba(255, 255, 255, 0.35);
    min-height: 100vh;
    visibility: hidden;
    transform: translateY(20vh);
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.projects-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.education-section {
    min-height: 100vh;
}

h1 {
    color: white;
}

h2 {
    margin-left: 5%;
    font-size: 48px;
}

p {
    line-height: 1.5em;
    font-size: 20px;
    color: white;
}

/* Media Queries below */
@media (min-width: 900px) {
    .App {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .nav-bar {
        grid-column: 1/-1;
    }
    .intro-section {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .intro {
        grid-column: 1/2;
    }

    .projects-section,
    .education-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1/-1;
    }
}

@media (max-width: 1400px) {
    .intro-section {
        display: grid;
        grid-template-columns: 1fr;
    }
}
