.App {
}

.nav-bar {
    display: flex;
}

.intro {
    margin: 5%;
}

.projects-section {
    background-color: grey;
    /* min-height: 100%; */
}
.education-section {
    background-color: lightgray;
    /* min-height: 100%; */
}

h2 {
    margin-left: 5%;
    color: white;
    font-size: 48px;
}
